/* Reset */
body, h1, h2, h3, p, ul, li, a {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Base Styles */
body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
}

/* Default Theme (Dark) */
body {
    background-color: #1c1c1e;
    color: #ffffff;
}

/* Light Theme */
body[data-bs-theme="light"] {
    background-color: #ffffff;
    color: #1c1c1e;
}

/* Container Principal */
.container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
}

/* Cabeçalho */
header .navbar {
    padding: 15px 0;
}


h1.navbar {
    color: #7ed957;
}

header .navbar-brand {
    color: #7ed957;
    font-size: 1.8em;
    font-weight: bold;
    text-transform: uppercase;
}

header .navbar-nav .nav-link {
    color: #ffffff;
    font-size: 1em;
    margin: 0 10px;
    transition: color 0.3s ease;
}
body[data-bs-theme="light"] header .navbar-nav .nav-link {
    color: #000000;
}

header .navbar-nav .nav-link:hover {
    color: #7ed957;
}

/* Home Section */
#home {
    text-align: center;
    padding: 60px 20px;
}

#home h1 {
    font-size: 2.8em;
    margin-bottom: 15px;
}

#home h1 span {
    color: #7ed957;
    font-weight: bold;
}

#home p {
    font-size: 1.2em;
    margin: 15px 0 30px;
    color: #dddddd;
}
body[data-bs-theme="light"] #home p {
    color: #1c1c1e;
}

#home .profile-pic {
    margin-top: 20px;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 5px solid #7ed957;
}

/* Seções */
section {
    padding: 50px 20px;
}

.section-title {
    font-size: 2em;
    margin-bottom: 20px;
    color: #7ed957;
    text-align: center;
}

#about p {
    text-align: center;
    font-size: 1.2em;
    margin: 0 auto;
    max-width: 800px;
}

/* Habilidades */
#skills {
    padding: 3rem 0;
}

#skills h2 {
    color: #7ed957;
    text-align: center;
    margin-bottom: 2rem;
    font-weight: bold;
}

#skills .card {
    background-color: #2b2b2f;
    color: #ffffff;
    border: none;
    border-radius: 10px;
}
body[data-bs-theme="light"] #skills .card {
    background-color: #ffffff;
    color: #1c1c1e;
}

#skills .card-title {
    color: #7ed957;
    font-weight: bold;
    font-size: 1.5rem;
    margin-bottom: 1rem;
    text-transform: uppercase;
}

#skills ul {
    list-style: none; 
    padding-left: 0; 
}

#skills ul li {
    margin-bottom: 0.5rem;
    font-size: 1rem;
}
#skills[data-bs-theme="light"] ul li {
color: #1c1c1e;
}

#skills .card:hover {
    transform: translateY(-5px);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

/* Responsividade */
@media (max-width: 768px) {
    #skills {
        padding: 2rem 0;
    }

    #skills h2 {
        font-size: 1.8rem;
    }

    #skills .card-title {
        font-size: 1.3rem;
    }
}

/* Histórico de Trabalho */
#work-history .timeline div {
    margin-bottom: 20px;
}

#work-history h3 {
    font-size: 1.5em;
    color: #7ed957;
    margin-bottom: 10px;
}

#work-history p {
    font-size: 1em;
    color: #dddddd;
}
body[data-bs-theme="light"] #work-history p {
    color: #1c1c1e;
}

#work-history ul {
    list-style: disc inside;
    color: #dddddd;
}
body[data-bs-theme="light"] #work-history ul {
    color: #1c1c1e;
}

/* Projetos */
.info-card {
    background-color: #2b2b2f;
    border-radius: 8px;
    margin: 10px;
    padding: 10px;
    color: #7ed957;
    text-align: center;
}
body[data-bs-theme="light"] .info-card {
    background-color: #f0f0f0;
    color: #1c1c1e;
}

.info-card h5 {
    font-weight: bold;
}

.info-card p {
    color: #dddddd;
}
body[data-bs-theme="light"] .info-card p {
    color: #1c1c1e;
}

.info-card:hover {
    transform: translateY(8px);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.btn-outline-verde {
    color: #7ed957;
    border-color: #7ed957;
}

.btn-outline-verde:hover {
    background-color: #7ed957;
    color: #ffffff;
}

.img-projeto {
  width: 100%;
  height: 180px;
  object-fit: cover;
  border-radius: 8px;
  border: 2px solid #7ed957;
  margin-bottom: 10px;
}


/* Contato */
#contact ul {
    list-style: none;
    padding: 0;
    font-size: 1.2em;
    color: #dddddd;
}
body[data-bs-theme="light"] #contact ul {
    color: #1c1c1e;
}

#contact ul a {
    color: #7ed957;
    text-decoration: none;
}

#contact ul a:hover {
    text-decoration: underline;
}

/* projetos em desenvolvimento */
#em-construcao {
 
  padding: 40px;
  border-top: 5px dashed orange;
  border-bottom: 5px dashed orange;
  text-align: center;
}

.container-obras {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  margin-top: 30px;
}

.projeto {
  border: 4px dashed #ff9900;
  padding: 20px;
  width: 300px;
  border-radius: 10px;
  box-shadow: 2px 2px 5px rgba(255, 153, 0, 0.3);
}


/* Footer */
footer {
    text-align: center;
    padding: 15px 0;
    background-color: #242426;
    color: #ffffff;
    font-size: 0.9em;
}
body[data-bs-theme="light"] footer {
    background-color: #e9ecef;
    color: #1c1c1e;
}
